
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&family=Nanum+Gothic&family=Poppins:wght@400;500;600&display=swap');

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  line-height: 1.5;
  background-color: #ebebeb;
}

body, input, button, textarea{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

*{
  box-sizing: border-box;
  margin: 0;
}

.container{
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

.row{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.content{
  justify-content: space-between;
}

.align{
  align-items: center;
}

.section-title{
  max-width: 100%;
  flex: 0 0 100%;
  margin-bottom: 30px;
}

.section-title h2{
  display: inline-block;
  font-size: 36px;
  font-weight: 600;
  color: #000;
  max-width: 100%;
  text-align: center;
  margin: 0;
  position: relative;
}

.section-title h2::before{
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0%;
  bottom: 0px;
  width: 80px;
  height: 3px;
  background-color: #000;
}

.header{
  position: absolute;
  padding: 15px 0;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}

.header .logo{
  padding: 0 15px;
}

.header .nav{
padding: 0 15px;
}


.header .nav ul{
  list-style: none;  
}

.header .nav ul li{
  display: inline-block;
  margin-left: 30px;
  
}

.header .nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  display: block;
  transition: all 0.5s ease;
}

.header .nav ul li a:hover{
  color: rgb(129, 61, 13);
}

.home-section{
  min-height: 100vh;
  background-image: url('./img/IMG_0332.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.home-section::before{
  content: '';
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  z-index: -1;
}

.sobre-section{
  padding: 190px 0;
}

.sobre-section .sobre-img{
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 0 15px;
}

.sobre-section .sobre-img .img-box img{
  width: 100%;
  display: block;
}

.sobre-section .sobre-content{
  flex: 0 0 66.66%;
  max-width: 66.66%;
  padding: 0 15px;
 }

 /* Service Section */

.service-section{
	padding:80px 0 0;
}

.service-section .service-item{
	flex:0 0 33.33%;
	max-width: 33.33%;
	padding:15px;
}
.service-section .service-item-inner{
 position: relative;
 overflow:hidden;
}
.service-section .service-item-inner img{
	width: 100%;
	display: block;
	filter: grayscale(100%);
	transition: all 0.5s ease;
}
.service-section .service-item-inner:hover img{
	filter: grayscale(0);
	transform: scale(1.1);
}
.service-section .service-item-inner .overlay{
	position: absolute;
	left:0;
	top:0;
	height: 100%;
	width: 100%;
	background-color:rgba(0,0,0,0.6);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.5s ease;
}
.service-section .service-item-inner:hover .overlay{
	background-color: transparent;
}

.service-section .service-item-inner .overlay h4{
	color:#ffffff;
	font-size: 20px;
	margin:0;
	text-align: center;
	transition: all 0.5s ease;
	text-transform: capitalize;
}
.service-section .service-item-inner .overlay:hover h4{
  transform: translateX(30px);
  opacity:0;
}

@media(min-width: 576px){
    .title h2{
        font-size: 4rem;
    }
    .portfolio-grid grid{
        grid-template-columns: repeat(2, 10fr);
        column-gap: 2rem;
        row-gap: 2rem;
        background-color: black;
    }
    .portfolio-grid div{
        height: 400px;
    }
    .portfolio-grid div img{
        height: 100%;
        object-fit: cover;
    }}

    @media(min-width: 1200px){
    .portfolio-grid{
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
        row-gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
    }
    .portfolio-grid > div:nth-child(2){
        grid-column: 2 / 4;
    }
    .portfolio-grid > div:nth-child(6){
        grid-column: 1 / 3;
    }
}

 .py-7{
    padding: 7rem 0;
}

.vh-100{
    min-height: 100vh;
}

/* portfolio */
.portfolio-grid > div{
    transition: var(--transition);
}
.portfolio-grid > div:hover{
    transform: scale(0.9);
}

/*************** contact.html **************/
.section-five{
    margin: 90px 0;
}
.section-five .container div{
    margin: 20px 0;
  }
.contact-top{
    text-align: center;
}
.contact-top h3{
    font-size: 28px;
}
.contact-top p{
    font-weight: 300;
    width: 70%;
    margin: 0 auto;
}
.contact-middle div{
    text-align: center;
    padding: 2px 0;
    background: var(--dark);
    color: #0a0000;
}
.contact-middle div span{
    display: block;
}

.contact-middle div span:nth-child(2){
    font-size: 18px;
    font-weight: bold;
}
.contact-middle div p{
    font-weight: 300;
    opacity: 0.7;
}
.contact-bottom{
    margin-top: 50px!important;
}
.form input[type = "text"], .form input[type = "email"], .form input[type= "text"] , .form textarea{
    width: 100%;
    font-size: 16px;
    padding: 10px 15px;
    margin: 10px 0;
    border: 1px solid var(--lightGreen);
    outline: none;
    border-radius: 5px;
}
.form select{
    width: 100%;
    font-size: 16px;
    padding: 10px 15px;
    margin: 10px 0;
    border: 1px solid;
    outline: none;
    border-radius: 5px;
    background: transparent;
}
.contact-bottom .form{
    padding: 0 20px;
}

.contact-bottom .btn{
    font-size: 16px;
    display: flex;
    justify-content: center;
    width: 100%;
    cursor: pointer;
}

.btnTop{
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 50px;
  height: 50px;
  rotate: 180deg;
  background-color: #898383;
  opacity: 0.5;
}

.row-social .social-links{  
	flex:0 0 100%;
	max-width: 100%;
	padding: 15px;
	text-align: center;
}
.row-social .social-links a{
	text-decoration: none;
	display: inline-block;
	margin:0 5px;
}
.social-links a img{
	width: 28px;
	display:block;
	transition: all 0.5s ease;
}
.social-links a:hover img{
	opacity:0.5;
}
/************** end of contact.html **********/

@media screen and (min-width: 1000px){
.footer-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }}

    /******************* Footer Styling *****************/

.footer{
    border-top: 1px solid #c5c5c5;
    color: #130101;
    padding: 25px 15px;
    text-align: center;
    font-size: 14px;
}

/******************* end of footer ****************/